<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-img overlap">
                        <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Login</h2>
                            <div class="thumbnail">
                                <img (click)="onClickLogin()" src="https://i.pinimg.com/originals/85/87/4d/85874d6fc028aaccd6db15ebcaa4e0e9.jpg" style="width:200px">        
                            </div>   
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->