<h2>Download and Decrypt Files</h2>
<div class="container-fluid">
  <div *ngFor="let file of listOfFiles" class="row">
    <div class="col-sm-12" >
      <div class="card">
        <div class="card-header" id="file.name" (click)="openModal(customContent)" style="cursor: pointer;">{{file.name}}</div>
        <ng-template #customContent let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h4 class="modal-title">Upload Key Image</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <input type="file" name="keyFile" ng2FileSelect [uploader]="uploader" (change)="nodeDownloadFile(file.name)" >
              <div *ngIf="downloadUrl" (click)="refreshPage()"><a href="{{downloadUrl.downloadUrl}}" download>Click to Download Decrypted File</a></div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
          </div>
          </ng-template>
      </div>
    </div>  
  </div>
</div>
