<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header"><h3>Uploaded files</h3></div>
                <div class="card-body">
                    <ul>
                        <li>File 1</li>
                        <li>File 2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
             <div class="card">
                <div class="card-header"><h3>Downloaded files</h3></div>
                <div class="card-body">
                    <ul>
                        <li>File 1</li>
                        <li>File 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header"><h3>Keys provided</h3></div>
                <div class="card-body">
                    <ul>
                        <li>Key no.1</li>
                        <li>Key no.2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>