
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><h3>Select Files to Upload to Dropbox</h3></div>
        <div class="card-block">
          <ng-template #customContent let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h4 class="modal-title">Enter Super Secret Key</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <show-hide-password size="sm" icon="entypo">
                  <input type="password" #superSecretKey placeholder="Super Secret Key" name="userSecretKey">
              </show-hide-password>
              <button (click)=fileChange(superSecretKey.value)>OK</button>
              <div *ngIf="downloadUrl" (click)="uploadFinal()"><a href="{{downloadUrl.keyDownloadUrl}}" download>Click to Download Key Image</a></div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
          </div>
          </ng-template>
          
      </div>
        <div class="card-body" style="padding: 20px 20px 20px 20px">
          <input type="file" name="sampleFile" ng2FileSelect [uploader]="uploader" (change)="openModal(customContent)">
        </div>
      </div>
    </div>
  </div>
</div>
